In [1]:
import json
import sqlalchemy

In [2]:
with open("/home/btphilip/notebooks/SQL_access.json") as f:
    db_conn_dict = json.load(f)

In [3]:
cred_string = 'postgresql://{user}:{password}@{host}:{port}/{database}'.format(**db_conn_dict)

In [4]:
dbeng = sqlalchemy.create_engine(cred_string)

In [5]:
import pandas as pd

In [7]:
df = pd.DataFrame({'A':1.,
                   'B': pd.Timestamp('20130102'),
                   'C': pd.Series(1,index=list(range(4)),dtype='float32')})
df

     A          B    C
0  1.0 2013-01-02  1.0
1  1.0 2013-01-02  1.0
2  1.0 2013-01-02  1.0
3  1.0 2013-01-02  1.0

In [8]:
df.to_sql('test_table_8', dbeng)